<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--FIGAMOS CADENA DE CONEXION-->
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="default" connectionString="Data Source=192.168.0.4;Initial Catalog=BD_SQL_INTRANET_2018;User ID=sa;Password=Ramses0693" providerName="System.Data.SqlClient"/>-->
    <!--<add name="default" connectionString="Data Source=LSTKEG110512;Initial Catalog=BD_SQL_INTRANET_2018;User ID=sa;Password=Ramse$0693" providerName="System.Data.SqlClient"/>-->
    <add name="default" connectionString="Data Source=172.16.51.13;Initial Catalog=BD_SQL_INTRANET_DESA;User ID=fsw_net;Password=4z3RT!@08" providerName="System.Data.SqlClient"/>
    
    <!--  VALORES PARA CONSULTAR LAS AREAS  -->
    <add name="presidencia" connectionString="1"/>

    <add name="verticalmodal" connectionString="1000"/>
    <add name="horizontalmodal" connectionString="1200"/>
  </connectionStrings>
  <!--TOOLS DE FRAME CON EL QUE SE HARA DEBUG ¡¡¡ IMPORTANTE !!!-->
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
 <system.serviceModel>
  <behaviors>
   <serviceBehaviors>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
  <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true" />
 </system.serviceModel>
</configuration>
