USE [BD_SQL_INTRANET_DESA]
GO
/****** Object:  Table [dbo].[BDI_C_GR_MODALES]    Script Date: 08/11/2021 01:58:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BDI_C_GR_MODALES](
	[N_ID_MODAL] [int] IDENTITY(1,1) NOT NULL,
	[T_VALOR_MODAL] [varchar](200) NOT NULL,
	[T_DSC_MODAL] [nvarchar](max) NULL,
	[N_FK_PADRE] [int] NULL,
	[N_FK_MENU] [int] NULL,
	[N_FK_AREAS] [int] NULL,
	[N_FK_FRECUENTES] [int] NULL,
	[N_FK_TIPO_ELEMENTO] [int] NOT NULL,
	[T_URL_MODAL] [varchar](250) NULL,
	[T_LINK_SITE_EXTRA] [varchar](250) NULL,
	[B_FLAG_MODAL] [bit] NOT NULL,
 CONSTRAINT [PK_BDI_C_GR_MODALES] PRIMARY KEY CLUSTERED 
(
	[N_ID_MODAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BDI_C_GR_MODALES]  WITH CHECK ADD  CONSTRAINT [FK_MODALES_FRECUENTES] FOREIGN KEY([N_FK_FRECUENTES])
REFERENCES [dbo].[BDI_C_GR_FRECUENTES] ([N_ID_FRECUENTES])
GO
ALTER TABLE [dbo].[BDI_C_GR_MODALES] CHECK CONSTRAINT [FK_MODALES_FRECUENTES]
GO
ALTER TABLE [dbo].[BDI_C_GR_MODALES]  WITH CHECK ADD  CONSTRAINT [FK_MODALES_MENU_AREAS] FOREIGN KEY([N_FK_AREAS])
REFERENCES [dbo].[BDI_C_GR_MENU_AREAS] ([N_ID_AREAS])
GO
ALTER TABLE [dbo].[BDI_C_GR_MODALES] CHECK CONSTRAINT [FK_MODALES_MENU_AREAS]
GO
ALTER TABLE [dbo].[BDI_C_GR_MODALES]  WITH CHECK ADD  CONSTRAINT [FK_MODALES_MENU_PRINCIPAL] FOREIGN KEY([N_FK_MENU])
REFERENCES [dbo].[BDI_C_GR_SUBMENU_PRINCIPAL] ([N_ID_SUBMENU_PRINCIPAL])
GO
ALTER TABLE [dbo].[BDI_C_GR_MODALES] CHECK CONSTRAINT [FK_MODALES_MENU_PRINCIPAL]
GO
ALTER TABLE [dbo].[BDI_C_GR_MODALES]  WITH CHECK ADD  CONSTRAINT [FK_MODALES_RECURSIVE] FOREIGN KEY([N_FK_PADRE])
REFERENCES [dbo].[BDI_C_GR_MODALES] ([N_ID_MODAL])
GO
ALTER TABLE [dbo].[BDI_C_GR_MODALES] CHECK CONSTRAINT [FK_MODALES_RECURSIVE]
GO
ALTER TABLE [dbo].[BDI_C_GR_MODALES]  WITH CHECK ADD  CONSTRAINT [FK_MODALES_TIPO_ELEMENTO] FOREIGN KEY([N_FK_TIPO_ELEMENTO])
REFERENCES [dbo].[BDI_C_GR_TIPO_ELEMENTOS] ([N_ID_TIPO_ELEMENTO])
GO
ALTER TABLE [dbo].[BDI_C_GR_MODALES] CHECK CONSTRAINT [FK_MODALES_TIPO_ELEMENTO]
GO
