--ALTER TABLE BDI_C_GR_MODALES
--ADD CONSTRAINT FK_MODALES_TIPO_ELEMENTO
--FOREIGN KEY (N_FK_TIPO_ELEMENTO)
--REFERENCES BDI_C_GR_TIPO_ELEMENTOS (N_ID_TIPO_ELEMENTO);

--ALTER TABLE BDI_C_GR_MODALES
--ADD CONSTRAINT FK_MODALES_RECURSIVE
--FOREIGN KEY (N_FK_PADRE)
--REFERENCES BDI_C_GR_MODALES (N_ID_MODAL);

ALTER TABLE BDI_C_GR_MODALES
ADD CONSTRAINT FK_MODALES_MENU_PRINCIPAL
FOREIGN KEY (N_FK_MENU)
REFERENCES BDI_C_GR_SUBMENU_PRINCIPAL (N_ID_SUBMENU_PRINCIPAL);

ALTER TABLE BDI_C_GR_MODALES
ADD CONSTRAINT FK_MODALES_MENU_AREAS
FOREIGN KEY (N_FK_AREAS)
REFERENCES BDI_C_GR_MENU_AREAS (N_ID_AREAS);

ALTER TABLE BDI_C_GR_MODALES
ADD CONSTRAINT FK_MODALES_FRECUENTES
FOREIGN KEY (N_FK_FRECUENTES)
REFERENCES BDI_C_GR_FRECUENTES (N_ID_FRECUENTES);

ALTER TABLE BDI_C_GR_MODALES
ADD CONSTRAINT FK_MODALES_DESTACADOS
FOREIGN KEY (N_FK_DESTACADOS)
REFERENCES BDI_C_GR_DESTACADOS (N_ID_DESTACADOS);