USE [BD_SQL_INTRANET_DESA]
GO
/****** Object:  Table [dbo].[BDI_C_GR_CONTENIDO_AREAS]    Script Date: 15/09/2021 10:27:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BDI_C_GR_CONTENIDO_AREAS](
	[N_ID_CONTENT] [int] IDENTITY(1,1) NOT NULL,
	[T_VALOR_CONTENT] [nvarchar](200) NOT NULL,
	[T_DSC_CONTENT] [nvarchar](max) NULL,
	[N_FK_MENU_AREAS] [int] NOT NULL,
	[N_FK_PADRE] [int] NULL,
	[N_FK_TIPO_ELEMENTO] [int] NOT NULL,
	[T_URL_MENU] [nvarchar](250) NULL,
	[T_LINK_SITE_EXTRA] [nvarchar](200) NULL,
	[B_FLAG_CONTENT] [bit] NOT NULL,
	[N_ORDEN_MENU] [int] NULL,
 CONSTRAINT [PK_BDI_C_GR_CONTENIDO_AREAS] PRIMARY KEY CLUSTERED 
(
	[N_ID_CONTENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BDI_C_GR_MENU_AREAS]    Script Date: 15/09/2021 10:27:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BDI_C_GR_MENU_AREAS](
	[N_ID_AREAS] [int] IDENTITY(1,1) NOT NULL,
	[T_VALOR_MENU] [nvarchar](200) NOT NULL,
	[N_FK_AREAS] [int] NOT NULL,
	[N_FK_MENU_PADRE] [int] NULL,
	[N_FK_TIPO_ELEMENTO_MENU] [int] NOT NULL,
	[B_FLAG_MENU] [bit] NOT NULL,
	[N_ORDEN_MENU] [int] NULL,
	[T_DSC_MENU] [nvarchar](250) NULL,
	[T_URL_MENU] [nvarchar](100) NULL,
 CONSTRAINT [PK_BDI_C_GR_MENU_AREAS] PRIMARY KEY CLUSTERED 
(
	[N_ID_AREAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BDI_C_GR_CONTENIDO_AREAS] ON 

INSERT [dbo].[BDI_C_GR_CONTENIDO_AREAS] ([N_ID_CONTENT], [T_VALOR_CONTENT], [T_DSC_CONTENT], [N_FK_MENU_AREAS], [N_FK_PADRE], [N_FK_TIPO_ELEMENTO], [T_URL_MENU], [T_LINK_SITE_EXTRA], [B_FLAG_CONTENT], [N_ORDEN_MENU]) VALUES (1, N'H. Cámara de Senadores', NULL, 11, NULL, 0, NULL, NULL, 1, NULL)
INSERT [dbo].[BDI_C_GR_CONTENIDO_AREAS] ([N_ID_CONTENT], [T_VALOR_CONTENT], [T_DSC_CONTENT], [N_FK_MENU_AREAS], [N_FK_PADRE], [N_FK_TIPO_ELEMENTO], [T_URL_MENU], [T_LINK_SITE_EXTRA], [B_FLAG_CONTENT], [N_ORDEN_MENU]) VALUES (2, N'Comisión de Seguridad Social', N'Presentación: Avances y Retos del Sistema de Ahorro para el Retiro. | noviembre, 2014', 11, 1, 10, N'../resources/pdf/estudios/1/1.pdf', NULL, 1, 1)
INSERT [dbo].[BDI_C_GR_CONTENIDO_AREAS] ([N_ID_CONTENT], [T_VALOR_CONTENT], [T_DSC_CONTENT], [N_FK_MENU_AREAS], [N_FK_PADRE], [N_FK_TIPO_ELEMENTO], [T_URL_MENU], [T_LINK_SITE_EXTRA], [B_FLAG_CONTENT], [N_ORDEN_MENU]) VALUES (4, N'Comisión de Seguridad Social', N'Presentación: Consideraciones recientes sobre el Sistema de Ahorro para el Retiro. | noviembre, 2013', 11, 1, 10, N'../resources/pdf/estudios/1/1.pdf', NULL, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[BDI_C_GR_CONTENIDO_AREAS] OFF
GO
SET IDENTITY_INSERT [dbo].[BDI_C_GR_MENU_AREAS] ON 

INSERT [dbo].[BDI_C_GR_MENU_AREAS] ([N_ID_AREAS], [T_VALOR_MENU], [N_FK_AREAS], [N_FK_MENU_PADRE], [N_FK_TIPO_ELEMENTO_MENU], [B_FLAG_MENU], [N_ORDEN_MENU], [T_DSC_MENU], [T_URL_MENU]) VALUES (3, N'Organigrama', 7, NULL, 10, 1, 1, N'Organigrama', N'../resources/pdf/estudios/1/1.pdf')
INSERT [dbo].[BDI_C_GR_MENU_AREAS] ([N_ID_AREAS], [T_VALOR_MENU], [N_FK_AREAS], [N_FK_MENU_PADRE], [N_FK_TIPO_ELEMENTO_MENU], [B_FLAG_MENU], [N_ORDEN_MENU], [T_DSC_MENU], [T_URL_MENU]) VALUES (5, N'Directorio', 7, NULL, 11, 1, 2, N'Directorio', NULL)
INSERT [dbo].[BDI_C_GR_MENU_AREAS] ([N_ID_AREAS], [T_VALOR_MENU], [N_FK_AREAS], [N_FK_MENU_PADRE], [N_FK_TIPO_ELEMENTO_MENU], [B_FLAG_MENU], [N_ORDEN_MENU], [T_DSC_MENU], [T_URL_MENU]) VALUES (6, N'Órganos de Gobierno', 7, NULL, 0, 1, 3, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[BDI_C_GR_MENU_AREAS] OFF
GO
ALTER TABLE [dbo].[BDI_C_GR_CONTENIDO_AREAS]  WITH CHECK ADD  CONSTRAINT [FK_MENU_AREAS_CONTENIDO_AREAS] FOREIGN KEY([N_FK_MENU_AREAS])
REFERENCES [dbo].[BDI_C_GR_MENU_AREAS] ([N_ID_AREAS])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BDI_C_GR_CONTENIDO_AREAS] CHECK CONSTRAINT [FK_MENU_AREAS_CONTENIDO_AREAS]
GO
ALTER TABLE [dbo].[BDI_C_GR_CONTENIDO_AREAS]  WITH CHECK ADD  CONSTRAINT [FK_RECURSIVE_CONTENIDO_AREAS] FOREIGN KEY([N_FK_PADRE])
REFERENCES [dbo].[BDI_C_GR_CONTENIDO_AREAS] ([N_ID_CONTENT])
GO
ALTER TABLE [dbo].[BDI_C_GR_CONTENIDO_AREAS] CHECK CONSTRAINT [FK_RECURSIVE_CONTENIDO_AREAS]
GO
ALTER TABLE [dbo].[BDI_C_GR_CONTENIDO_AREAS]  WITH CHECK ADD  CONSTRAINT [FK_TIPO_ELEMENTO_CONTENIDO_AREAS] FOREIGN KEY([N_FK_TIPO_ELEMENTO])
REFERENCES [dbo].[BDI_C_GR_TIPO_ELEMENTOS] ([N_ID_TIPO_ELEMENTO])
GO
ALTER TABLE [dbo].[BDI_C_GR_CONTENIDO_AREAS] CHECK CONSTRAINT [FK_TIPO_ELEMENTO_CONTENIDO_AREAS]
GO
ALTER TABLE [dbo].[BDI_C_GR_MENU_AREAS]  WITH CHECK ADD  CONSTRAINT [FK_BDI_C_GR_MENU_AREAS_BDI_C_GR_MENU_AREAS] FOREIGN KEY([N_ID_AREAS])
REFERENCES [dbo].[BDI_C_GR_MENU_AREAS] ([N_ID_AREAS])
GO
ALTER TABLE [dbo].[BDI_C_GR_MENU_AREAS] CHECK CONSTRAINT [FK_BDI_C_GR_MENU_AREAS_BDI_C_GR_MENU_AREAS]
GO
ALTER TABLE [dbo].[BDI_C_GR_MENU_AREAS]  WITH CHECK ADD  CONSTRAINT [FK_RECURSIVE_MENU_AREAS] FOREIGN KEY([N_FK_MENU_PADRE])
REFERENCES [dbo].[BDI_C_GR_MENU_AREAS] ([N_ID_AREAS])
GO
ALTER TABLE [dbo].[BDI_C_GR_MENU_AREAS] CHECK CONSTRAINT [FK_RECURSIVE_MENU_AREAS]
GO
ALTER TABLE [dbo].[BDI_C_GR_MENU_AREAS]  WITH CHECK ADD  CONSTRAINT [FK_TIPO_ELEMENTO_MENU_AREAS] FOREIGN KEY([N_FK_TIPO_ELEMENTO_MENU])
REFERENCES [dbo].[BDI_C_GR_TIPO_ELEMENTOS] ([N_ID_TIPO_ELEMENTO])
GO
ALTER TABLE [dbo].[BDI_C_GR_MENU_AREAS] CHECK CONSTRAINT [FK_TIPO_ELEMENTO_MENU_AREAS]
GO
ALTER TABLE [dbo].[BDI_C_GR_MENU_AREAS]  WITH CHECK ADD  CONSTRAINT [FK_TIPO_MENU_AREAS] FOREIGN KEY([N_FK_AREAS])
REFERENCES [dbo].[BDI_C_GR_SUBMENU_PRINCIPAL] ([N_ID_SUBMENU_PRINCIPAL])
GO
ALTER TABLE [dbo].[BDI_C_GR_MENU_AREAS] CHECK CONSTRAINT [FK_TIPO_MENU_AREAS]
GO
