<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="default" connectionString="Data Source=192.168.0.4;Initial Catalog=BD_SQL_INTRANET_2018;User ID=sa;Password=Ramses0693" providerName="System.Data.SqlClient"/>-->
    <!--<add name="default" connectionString="Data Source=LSTKEG110512;Initial Catalog=BD_SQL_INTRANET_2018;User ID=sa;Password=Ramse$0693" providerName="System.Data.SqlClient"/>-->
    <add name="default" connectionString="Data Source=172.16.51.13;Initial Catalog=BD_SQL_INTRANET_DESA;User ID=fsw_net;Password=4z3RT!@08" providerName="System.Data.SqlClient"/>
    <!--  VALORES PARA CONSULTAR LAS AREAS  -->
    <add name="presidencia" connectionString="1"/>
    <add name="verticalmodal" connectionString="1000"/>
    <add name="horizontalmodal" connectionString="1200"/>
  </connectionStrings>
</configuration>